<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{app.title}"></title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
</head>
<body>

	<h1 th:text="#{app.stock-details}">Details</h1>
	<table>
		<tr>
			<th th:text="#{stock.id}" /></th>
			<th th:text="#{stock.price}"></th>
			<th th:text="#{stock.count}"></th>
		</tr>
		<tr th:each="stock : ${stockList}">
			<td th:text="${stock.id}">Id</td>
			<td th:text="${stock.currentPrice}">Current Price</td>
			<td th:text="${stock.stockCount}">Count</td>
		</tr>
	</table>

	<h1 th:text="#{app.create-stock}">Create</h1>
	<form action="#" th:action="@{/api/stocks/}" th:object="${stock}"
		method="post">
		<table>
			<tr>
				<td th:text="#{stock.price}"></td>
				<td><input type="text" th:field="*{currentPrice}" /> 
				<label th:if="${#fields.hasErrors('currentPrice')}"
					th:text="#{error.stock.price}" th:class="'error'">Price Error</label></td>
			</tr>
			<tr>
				<td th:text="#{stock.price}"></td>
				<td><input type="text" th:field="*{stockCount}" />
			    <label th:if="${#fields.hasErrors('stockCount')}"
					th:text="#{error.stock.count}" th:class="'error'">Count Error</label></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit"
					th:value="#{stock.form.submit}" /> <input type="reset"
					th:value="#{stock.form.reset}" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
